<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="index.server" />
  <add key="PYTHONPATH" value="D:\vapp\alive" />
</appSettings>
<system.webServer>
<handlers>
 <remove name="Python27_via_FastCGI" />
 <remove name="Python34_via_FastCGI" />
 <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\vapp\alive\env\Scripts\python.exe|D:\vapp\alive\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
</handlers>
        <caching enabled="false" enableKernelCache="false" />
</system.webServer>
</configuration>
